/*
* @Author: Hasee
* @Date:   2019-12-23 15:25:38
* @Last Modified by:   Hasee
* @Last Modified time: 2019-12-25 00:04:00
*/
body{
	background-color: #333;
}
*{
	padding: 0;
	margin: 0;
}
.navbox {
    position: relative;
    width: 100%;
    /* height: 329px; */
    min-width: 1230px;
    border-top: 2px solid #6b9ac8;
    background: #111521;
    line-height: 1.35;
}
.nav {
    width: 1230px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.logo {
    width: 134px;
    height: 64px;
    margin-right: 100px;
    padding: 8px 0 8px 23px;
    margin-top: 100px;
    float: left;
    box-sizing: content-box;
}
.logo a {
    width: 100%;
    height: 64px;
    display: block;
}
.nav2{
    display: block;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 150px;
}
.up{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
}
.up img{
    max-width: 50px;
    position: absolute;
    right: 2px;
}
.up2{
    display: none;
}
.up2 img{
    max-width: 50px;
    position: absolute;
    right: 2px;
}
.up:hover .sign{
    display: block;
}
.up2:hover .signhou{
    display: block;
}
.sign{
    background: rgba(10, 10, 10, 0.7);
    position: absolute;
    top: 52px;
    width: 200px;
    height: 100px;
    text-align: center;
    color: thistle;
    display: none;
}
.signtxt{
    line-height: 50px;
}
.upin{
    border-radius:5px 5px 5px 5px;
    background: royalblue;
    margin: 0 auto;
    color: white;
    width: 160px;
    height: 30px;
    padding-top: 6px;
}
.signhou{
    background: rgba(10, 10, 10, 0.7);
    position: absolute;
    top: 52px;
    width: 200px;
    height: 170px;
    color: white;
    display: none;
}
.houtouxiang img{
    max-width: 50px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.houtouxiang p{
    line-height: 60px;
    margin-left: 100px;
}
.gongneng{
    margin: 0 auto;
    height: 60px;
    width: 180px;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(54, 53, 53);
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.shoucang{
    float: left;
    width: 60px;
    height: 60px;
    background:royalblue ;
    border-radius:5px 5px 5px 5px;
    font-size: 22px;
    text-align: center;
}
.buy{
    float: right;
    width: 60px;
    height: 60px;
    background:royalblue ;
    border-radius:5px 5px 5px 5px;
    font-size: 22px;
    text-align: center;
}
.guanli{
    display: inline-block;
    line-height: 30px;
    font-size: 13px;
    float: left;
    margin-left: 5px;
}
.tuichu{
    display: inline-block;
    line-height: 30px;
    font-size: 13px;
    float: right;
    margin-right: 5px;
}
.navlist {
    padding-top: 20px;
    float: left;
}
.navlist a {
    height: 57px;
    margin: 0 25px;
    display: block;
    color: #fff;
    font-size: 18px;
    position: relative;
    float: left;
	text-decoration: none;
}
.navlist a span {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #3b92e6;
    display: none;
}
.navlist a h4 {
    cursor: pointer;
    font-size: 16px;
}
.navlist a p {
    font-size: 10px;
    cursor: pointer;
    font-size: 12px;
}
/* .login{
	padding-top: 20px;
	float: left;
} */
ul,li{
	list-style: none;
}
.box{
	width: 900px;
	height: 350px;
	border: 1px solid blue;
	margin-top: 13px;
	margin-left: 340px;
	position: relative;
	overflow: hidden;
	top: 30px;
}
.slider{
	width: 6300px;
	position: absolute;
	left: -900px;
}
.slide{
	width: 900px;
	overflow: hidden;
	float: left;
}
.slide img{
	padding-left: 200px;
}
.slide .simg{
	padding-left: 150px;
}
.slide .bimg{
	padding-left: 150px;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: ;
	top: 155px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav1{
	position: absolute;
	left: 340px;
	bottom: 20px;
}
.nav1>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor:pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav1 .active{
	background: red;
}
.module-help {
    min-height: 220px;
    background-position: center -1200px;
    background-color: grey;
    position: relative;
	top: 34px;
}
.module-inner {
    width: 1300px;
    margin: 0 auto;
}
.module-help .links {
    padding-top: 94px;
    padding-left: 64px;
}
.module-help .links .zzfu {
    background-position: 0 0;
    margin-right: 28px;
    background: url(捕获.png) top no-repeat;
}
.module-help .links a {
    
    display: inline-block;
    width: 120px;
    height: 44px;
}
/* .module-help .links .txzcx {
    background-position: -142px 0;
    margin-right: 28px;
    background: url(捕获1.png) top no-repeat;
} */
.module-help .links .zxkefu {
    background-position: -300px 0;
    margin-right: 108px;
    background: url(1.png) top no-repeat;
}
.module-help .links .weibo{
	background: url(2.png) top no-repeat;
	position: relative;
}
.module-help .links .weixin {
    position: relative;
    background: url(3.png) top no-repeat;
}
.module-help .links .bbs {
    background-position: -770px 0;
    margin-right: 100px;
    background: url(4.png) top no-repeat;
}
.module-help .links .wanmeidz {
    width: 190px;
    background-position: -986px 0;
    background: url(5.png) top no-repeat;
}
.bottom{
	position: relative;
} 
.rel1100 {
    position: relative;
}
.bottom {
    color: #959595;
    font-size: 12px;
    height: 160px;
    z-index: 1;
    font-family: Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,Helvetica Neue,Helvetica,"sans-serif";
    background-color: #000;
    background-repeat: no-repeat;
}
.rel1100 {
    width: 1100px;
    margin: 0 auto;
}
.foot_dl {
    position: absolute;
    top: 40px;
}
.foot_dl dt {
    float: left;
    padding-left: 7px;
}
.foot_dl dt a.wanmei {
    border-right: 1px solid #000;
}
.foot_dl dt a {
    padding: 0 12px;
    float: left;
}
.bottom .rel1100 .certificate {
    color: #555;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    left: 140px;
    top: 85px;
}
.bottom .rel1100 .certificate a {
    color: #53bdfa;
}
.remark {
    text-align: left;
    display: inline-block;
    margin-left: -12px;
}
.foot_dl dd {
    font-size: 12px;
    line-height: 1.25;
    margin: 0;
    float: right;
    max-width: 750px;
}
.content {
    width: 1001px;
    height: 100%;
}
.title {
    margin: 41px 0 0 77px;
}
.main {
    margin: 27px 0 0 82px;
}
.scrollbars {
    height: 575px;
    z-index: 2;
}
.scrollbars p {
    text-indent: 2em;
    color: grey;
}
.main img {
    max-width: 900px;
    margin: 0 auto;
    display: block;
}
.updiv{
    display: none;
    width: 700px;
    height: 350px;
    position: fixed;
    top: 220px;
    left: 400px;
    background-image: url(只狼2.jpg);
    background-size:100% 100%;
}
.close{
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    line-height: 25px;
    opacity: 0.1;
}
.upkuang{
    width: 340px;
    height: 300px;
    background:gainsboro;
    opacity: 0.8;
    margin-left: 25px;
    position: relative;
}
.zhdl{
    position: absolute;
    top: 10px;
    left: 10px;
}
.zhdltxt{
    font-size: 25px;
}
.notice{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.inp1{
    display: block;
    width:300px;
    height: 40px;
    text-indent: 8px;
    margin-top: 30px;
    margin-left: 7px;
}
.inp2{
    display: block;
    width:300px;
    height: 40px;
    text-indent: 8px;
    margin-left: 7px;
}
.jizhu{
    display: inline;
    color: grey;
    font-size: 12px;
}
.forget{
    display: inline;
    color: grey;
    font-size: 12px;
    float: right;
}
.zhuce{
    display: inline;
    color: grey;
    font-size: 12px;
    float: right;
    margin-top: 6px;
}
.up22{
    position: absolute;
    top: 230px;
    left: 9px;
    border-radius:50px 50px 50px 50px;
    background: aqua;
    width:300px;
    text-align: center;
    height: 40px;
    color: white;
}
.zhucediv{
    display: none;
    width: 300px;
    height: 350px;
    position: fixed;
    top: 220px;
    left: 600px;
    background: white;
    border-radius:5px 5px 5px 5px;
}
.inp11{
    display: block;
    width:250px;
    height: 30px;
    text-indent: 8px;
    margin-top: 30px;
    margin-left: 7px;
}
.inp22{
    display: block;
    width:250px;
    height: 30px;
    text-indent: 8px;
    margin-left: 7px;
}
.zhuce22{
    position: absolute;
    top: 280px;
    left: 45px;
    border-radius:50px 50px 50px 50px;
    background: aqua;
    width:200px;
    text-align: center;
    height: 30px;
    color: white;
}

.jjs{
	height: 500px;
	width: 1100px;
	margin-left: 250px;
}
.end{
    position: relative;
    top:30px ;
    background: black;
    height: 400px;
}
.end1{
    background:silver;
    height: 400px;
    width: 1200px;
    margin: 0 auto;
}
.end11{
    background: black;
    height: 60px;
    padding-top: 17px;
}
.end11 p{
    font-size: 28px;
    color: white;
    margin-left: 20px;
    display: inline;
}
.tp0{
    display: inline;
    position: relative;
}
.tp{
    margin-left: 20px;
}
.tp2{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 10px;
    top: -121px;
    background: white;
    background-image: url(qqerwi.png);
    background-size:100% 100%;
    display: none;
}
.tp0:hover .tp2{
    display: block;
}
.tp3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 10px;
    top: -121px;
    background: white;
    background-image: url(wxerwi.png);
    background-size:100% 100%;
    display: none;
}
.tp0:hover .tp3{
    display: block;
}
.end12{
    background: black;
    height: 282px;
    margin-top: 2px;
    padding-top: 40px;
    position: relative;
}
.join{
    float: left;
    width: 150px;
    height: 200px;
}
.jointxt{
    font-size: 25px;
    margin-left: 20px;
    color: white;
}
.joinlist{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 17px;
    line-height: 40px;
}
.contact{
    float: left;
    width: 150px;
    height: 200px;
}
.contacttxt{
    font-size: 25px;
    margin-left: 20px;
    color: white;
}
.contactlist{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 17px;
    line-height: 40px;
}
.legao{
    float: left;
    width: 150px;
    height: 200px;
}
.legaotxt{
    font-size: 25px;
    margin-left: 20px;
    color: white;
}
.legaolist{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 17px;
    line-height: 40px;
}
.endlogo{
    float: right;
    margin-top: 90px;
    margin-right: 150px;
    color: turquoise;
    font-style: italic;
}
.endend{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.endendlist li{
    float: left;
    width: 100px;
    font-size: 14px;
}

